[features]
seeds = false
[programs.localnet]
mysolanaapp = "9Kkk5Cp6NfvXEyt7oeX9ihYcwkczBSxTkUemprpxEkEe"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "/path/to/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
